#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.topbar {
  background-color: #1e88e5; /* Blue */
  padding: 0.5rem 2rem; /* Reduce padding */
  height: 30px;/* Set a fixed height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-image {
  width: 40px; /* Adjust size as necessary */
  height: auto;
  margin-right: 10px; /* Space between the logo and the title */
  vertical-align: middle; /* Align logo with text */
}

.footer {
  background-color: #263238;
  color: white;
  text-align: center;
  padding: 0.8rem;
  height: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
}
.login-box {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for better visibility */
}

.login-box h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
