html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevents scrolling */
  background-color: #e3f2fd; /* Light Blue */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-image {
  width: 40px; /* Adjust size as necessary */
  height: auto;
  margin-right: 10px; /* Space between the logo and the title */
  vertical-align: middle; /* Align logo with text */
}
